



*{
  
font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

header{
  
 z-index: 999;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 200px;
 transition: 0.5s ease;


}

header .brand{

 color: #fffefe;
 font-size: 1.5em;
 font-weight: 900;
 text-decoration: none;
 text-transform: uppercase;
 border: 2px solid rgb(238, 238, 238);
 padding: 10px;
 background-color: transparent;
}


header .navigation{

 position: relative;
}

header  .navigation .navigation-items a{

 position: relative;
 color: #ffffff;
 font-size: 1em;
 font-weight: 500;
 text-decoration: none;
 margin-left: 3px;
 transition: 0.3s ease;
 margin-right: 20px;


}

header  .navigation .navigation-items a:before{

content: '';
position: absolute;
background: #f8f8f8;
width: 100%;
height: 2px;
bottom: 0;
left: 0;



}



header  .navigation .navigation-items a:hover:before{

    width: 10%;

}




section {

    padding: 100px 200px;
}




.home {

    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
}




.home:before {


    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 2, 10, 0.3);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    
}





.home .content{
  
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;



}




.home .content.active {
    display: block;
}

.home .content h1{

 font-size: 4em;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 5px;
 line-height: 75px;
 margin-bottom: 40px;
 
}




.home .content h1 span{
  
    font-size: 1.2em;
    font-weight: 600;

}





.home .content p{


    margin-bottom: 65px;

}




.home .content a{



    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1;
    text-decoration: none;
    font-weight: 500;
    border-radius: 40px;
}





/* Icones */
.home .media-icons{

  z-index: 888;
  position: absolute;
  right: 50px; /*decidir tamanho*/ /*direita right e left esquerda*/
  display: flex; /*depende do flex-direction colum para deixar em coluna*/
  flex-direction: column;
  transition: 0.5s ease;

}



.home .media-icons a{


    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){

  margin-bottom: 40px;


}








.home .media-icons a:hover{


    transform: scale(3.8);
    animation: rotate 2s infinite, blink-hover 2s infinite;

}


@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes blink-hover {
    0%, 50%, 100% {
      opacity: 1;
      filter: brightness(1);
    }
    25%, 75% {
      opacity: 0.5;
      filter: brightness(2);
    }
  }


.home video{

    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider-navigation{
    
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}










.slider-navigation .nav-btn{

    width: 10px;
    height: 12px;
    background: #fff;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{ 
 
    background: #2696e9;



}


.slider-navigation .nav-btn:not(:last-child){

  margin-right: 30px;

}

.slider-navigation .nav-btn:hover{

    transform: scale(1.3);
  
  }
  
  
  .video-slide{
  
  position: absolute;
  width: 100%;
  clip-path: inset(0 100% 0 0);
  
  }
  
  .video-slide.active{
  
    clip-path: inset(0 0 0 0);
      transition: 4s ease;
      transition-property: clip-path;
  }



